body {
    margin: 0;
    padding: 0;
    font-family: 'Caladea';

}

.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #d4d7de;
    width: 100%;
    height: 70px;
    z-index: 1;
    opacity: 95%;
}

.nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
    letter-spacing: 3px;
}

.logo {
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 35px;
}

a {
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color:#000;
}

.banner-area {
    position: relative;
    background-image: url("woman_reading.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.about-area, .port-area, .contact-area, .services-area {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 700px;
}

.text-part {
    width: 65%;
    height: 80%;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

p {
    font-size: 24px;
    line-height: 50px;
}

.about-area, .services-area {
    background-color: #fefefe;
}

.port-area, .contact-area {
    background-color: #262626;
    color: #fefefe;
}

html {
    scroll-behavior: smooth;
}